*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body
{
    background-color: rgb(255, 255, 255);
}

.s1
{
    width: 100%;
    height: 80px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s1 .d1
{
    width: 50%;
    height: 80px;
    background-color: rgb(18, 17, 17);
}
.s1 .d2
{
    width: 50%;
    height: 80px;
    background-color: rgb(18, 17, 17);

}

.s2
{
    width: 100%;
    height: 640px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;

}
.s2 .d3
{
    width: 50%;
    height: 100%;
    /* background-color: rgb(255, 106, 0); */
}
.s2 .d4
{
    width: 50%;
    height: 100%;
    /* background-color: rgb(0, 255, 60); */
}

.s3
{
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.s4
{
    width: 100%;
    height: 320px;
    background-color: rgb(255, 255, 255);
    display: flex;
    grid-template-columns: repeat(1,350px);
    grid-template-rows: repeat(4,400px);
    gap: 15px;
    justify-content: center;
}

.s1 .d1 h1
{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 9px;
    padding-top: 13px;
    font-size: 20px;
    position: absolute;
   
}
.s1 .d1 .glayer
{
    background-color: rgb(73, 226, 149);
    width: 50px;
    height: 50px;
    margin-top: 12px;
    margin-left: 13px;
}
.s1 .d2 button
{
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: white;
    margin-left: 50px;
    margin-top: 27px;
    transition-duration: 3s;
}
.s1 .d2 .h
{
    border-bottom: 1px solid white;
}
.s1 .d2 button:hover
{
    border-bottom: 1px solid white;
}

.s2
{
    background: url(hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.s2 .d4
{
    background: url(slider-img.png);
    background-repeat: no-repeat;
    margin-top: 300px;
    margin-left: 160px;
    background-size: 70%;

}
.s2 .d3
{
    margin-top: 400px;
    /* font-size: 30px; */
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.s2 .d3 h1
{
    font-size: 60px;
    margin-left: 150px;
}
.s2 .d3 h2
{
    font-size: 35px;
    margin-top: 10px;
    margin-left: 150px;
}
.s2 .d3 button
{
    border: none;
    background-color: rgb(52, 48, 48);
    color: white;
    font-size: 15px;
    padding: 15px 45px;
    border-radius: 5px;
    margin-left: 150px;
    margin-top: 40px;
    transition-duration: .5s;
    
}
.s2 .d3 button:hover
{
    background-color: rgb(18, 17, 17);
    font-size: 17px;
}

.s3 h1 
{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.s4 .g1
{
    /* background-color: rgb(255, 255, 255); */
    width: 320px;
    height: 350px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    
}
.s4 .g2
{
    /* background-color: rgb(80, 255, 106); */
    width: 320px;
    height: 350px;
}
.s4 .g3
{
    /* background-color: rgb(255, 80, 220); */
    width: 320px;
    height: 350px;
}
.s4 .g4
{
    /* background-color: rgb(109, 80, 255); */
    width: 320px;
    height: 350px;
}
.s4 .g1 .layer1
{
    width: 100%;
    height: 200px;
    background-color: rgba(57, 53, 53, 0.092);
}
.s4 .g2 .layer2
{
    width: 100%;
    height: 200px;
    background-color: rgba(57, 53, 53, 0.092);
}
.s4 .g3 .layer3
{
    width: 100%;
    height: 200px;
    background-color: rgba(57, 53, 53, 0.092);
}
.s4 .g4 .layer4
{
    width: 100%;
    height: 200px;
    background-color: rgba(57, 53, 53, 0.092);
}

.s4 .g1 .layer1 i
{
    font-size: 85px;
    padding-top: 60px;
    padding-left: 110px;

}
.s4 .g2 .layer2 i
{
    font-size: 85px;
    padding-top: 60px;
    padding-left: 110px;

}
.s4 .g3 .layer3 i
{
    font-size: 85px;
    padding-top: 60px;
    padding-left: 110px;

}
.s4 .g4 .layer4 i
{
    font-size: 85px;
    padding-top: 60px;
    padding-left: 110px;

}
.s5
{
    width: 100%;
    height: 150px;
    background-color: rgb(251, 251, 251);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.s5 button
{
    background-color: rgb(52, 48, 48);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 15px 45px;
    transition-duration: .5s;
}
.s5 button:hover
{
    background-color: rgb(18, 17, 17);
    font-size: 17px;
}
.s4 .g1 h1
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
}
.s4 .g1 p
{
    /* padding-left: 25px; */
    color: rgb(99, 94, 94);
    margin-left: 8px;
    text-align: center;
}
.s4 .g2 h1
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-left: 100px;
}
.s4 .g2 p
{
    /* padding-left: 25px; */
    color: rgb(99, 94, 94);
    margin-left: 8px;
    text-align: center;
}
.s4 .g3 h1
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-left: 120px;
}
.s4 .g3 p
{
    /* padding-left: 25px; */
    color: rgb(99, 94, 94);
    margin-left: 8px;
    text-align: center;
}
.s4 .g4 h1
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-left: 100px;
}
.s4 .g4 p
{
    /* padding-left: 25px; */
    color: rgb(99, 94, 94);
    margin-left: 8px;
    text-align: center;
}
.s4 .g1 .layer1:hover
{
    background-color: rgb(81, 201, 79);
}
.s4 .g1 p:hover
{
    color: black
}
.s4 .g2 .layer2:hover
{
    background-color: rgb(81, 201, 79);
}
.s4 .g2 p:hover
{
    color: black
}
.s4 .g3 .layer3:hover
{
    background-color: rgb(81, 201, 79);
}
.s4 .g3 p:hover
{
    color: black
}
.s4 .g4 .layer4:hover
{
    background-color: rgb(81, 201, 79);
}
.s4 .g4 p:hover
{
    color: black
}
.s6
{
    width: 100%;
    height: 150px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.s6 h1
{
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.s7
{
    width: 100%;
    height: 280px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.s8
{
    width: 100%;
    height: 130px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 17px;
    
}

.s9
{
    width: 100%;
    height: 150px;
    background-color: rgb(251, 251, 251);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.s9 button
{
    background-color: rgb(52, 48, 48);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 15px 45px;
    transition-duration: .5s;
}
.s9 button:hover
{
    background-color: rgb(18, 17, 17);
    font-size: 17px;
}

.s10
{
    width: 100%;
    height: 400px;
    background-color: #087bb6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s10 .d5
{
    width: 50%;
    height: 60%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fl 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: aqua; */
    margin-left: 200px;
    width: 100%;

}

.f2
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    margin-left: 30px;
    
}
.f2 h3
{
    color: white;
    padding: 0% 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.f2 img
{
    padding: 0% 5px;
}

.s10 .d5 .fl h1
{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    color: white;
    margin-right: 80px;
}
.s10 .d5 .fl p
{
    font-size: 15px;
    color: white;
    margin-right: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 50px;

}
/* .s10 .d5 .f h3
{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 270px;
    font-size: 21px;  
    margin-bottom: 50px;

} */
.s10 .d5 img
{
    display: inline-block;
}


.s10 .d6
{
    width: 50%;
    height: 100%;
    /* background-color: rgb(215, 6, 6); */
    display: flex;
    /* justify-content: center; */
    align-items: center;

}
.s10 .d6 img
{
    background-repeat: no-repeat;
    width: 500px;
    margin-bottom: 38px;
    margin-left: 60px;

}

.s11
{
    width: 100%;
    height: 130px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.s12
{
    width: 100%;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.s13
{
    width: 100%;
    height: 130px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 17px;
    
}

.s14
{
    width: 100%;
    height: 150px;
    background-color: rgb(251, 251, 251);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.s14 button
{
    background-color: rgb(52, 48, 48);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 15px 50px;
    transition-duration: .5s;
}
.s14 button:hover
{
    background-color: rgb(18, 17, 17);
    font-size: 17px;
}

.s15
{
    width: 100%;
    height: 170px;
    background-color: rgb(255, 255, 255);
    display: flex;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
}

.s16
{
    width: 100%;
    height: 300px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.s16 .d7
{
    width: 45%;
    height: 300px;
    /* background-color: rgb(37, 58, 58); */
    
}
.s16 .d8
{
    width: 65%;
    height: 300px;
    /* background-color: rgb(170, 9, 92); */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.s16 .d8 p
{
    padding-bottom: 100px; 
    padding-left: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.s16 .d7 .c1
{
    width: 200px;
    height: 220px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-left: 400px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center; */
    box-shadow: 0px 0px 7px 7px rgba(107, 101, 101, 0.129);

}
.s16 .d7 .c1 img 
{
    width: 170px;
    height: 130px;
    margin-top: 15px;
    margin-left: 15px;
}
.s16 .d7 .c1 h1
{
    padding-left: 35px;
    padding-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
}
.s16 .d7 .c1 p
{
    padding-left: 25px;
    padding-top: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-size: 22px; */
    color: rgb(105, 98, 98);
}


.s17
{
    width: 100%;
    height: 300px;
    /* background-color: rgb(51, 255, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.s17 .d9
{
    width: 45%;
    height: 300px;
    /* background-color: rgb(58, 44, 37); */
}
.s17 .d10
{
    width: 65%;
    height: 300px;
    /* background-color: rgb(37, 58, 44); */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.s17 .d10 p
{
    padding-bottom: 100px; 
    padding-left: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.s17 .d9 .c2
{
    width: 200px;
    height: 220px;
    background-color: rgb(255, 255, 255);
    /* margin-top: 20px; */
    margin-left: 400px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    box-shadow: 0px 0px 7px 7px rgba(107, 101, 101, 0.129);
   
}
.s17 .d9 .c2 img 
{
    width: 170px;
    height: 130px;
    margin-top: 15px;
    margin-left: 15px;

}
.s17 .d9 .c2 h1
{
    padding-left: 35px;
    padding-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
}
.s17 .d9 .c2 p
{
    padding-left: 25px;
    padding-top: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-size: 22px; */
    color: rgb(105, 98, 98);
}

.s18
{
    width: 100%;
    height: 120px;
    background-color: rgb(251, 251, 251);
    display: flex;
    justify-content: center;
    align-items: start;
    
}
.s18 button
{
    background-color: rgb(52, 48, 48);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 15px 45px;
    transition-duration: .5s;
}
.s18 button:hover
{
    background-color: rgb(18, 17, 17);
    font-size: 17px;
}

.s19
{
    width: 100%;
    height: 400px;
    background-color: rgb(32, 28, 28);
    display: grid;
    grid-template-columns: repeat(4,350px);
    grid-template-rows: repeat(1,400px);
    gap: 20px;
    justify-content: center;
}
.s19 .d11
{
    width: 110%;
    /* background-color: aqua; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.s19 .d12
{
    width: 80%;
    /* background-color: rgb(255, 208, 0); */
    display: flex;
    margin-left: 40px;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center; */
}
.s19 .d13
{
    width: 80%;
    /* background-color: rgb(255, 102, 0); */
    display: flex;
    /* justify-content: center;  */
    flex-direction: column;
    /* align-items: center; */
}
.s19 .d14
{
    width: 100%;
    /* background-color: rgb(255, 0, 204); */
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.s20
{
    width: 100%;
    height: 50px;
    padding-bottom: 40px;
    background-color: rgb(32, 28, 28);
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: white; */
    color: rgb(105, 98, 98);
    font-size: 11px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.s19 .d12 h1
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 20px;
    padding-top: 70px;
    color: white;
}
.s19 .d12 p
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 20px;
    color: white;
}
.s19 .d13 h1
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 20px;
    padding-top: 70px;
    color: white;
}
.s19 .d13 p
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 20px;
    color: white;
}
.s19 .d11 h1
{
    color: white;
    font-size: 30px;
    padding-top: 70px;
    padding-bottom: 20px;
}
.s19 .d11 h2
{
    color: white;
    font-size: 25px;
    padding-left: 10px;
}

.s19 .d14 h1
{
    padding-top: 70px;
    padding-bottom: 25px;
}
.s19 .d14 input
{
    width: 70%;
    height: 40px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
input::placeholder
{
    color: white;
    padding-left: 10px;
    font-size: 17px; 
}
.s19 .d14 button
{
    background-color: rgb(73, 226, 149);
    color: white;
    border: none;
    font-size: 18px;
    padding: 10px 30px;
    margin-top: 20px;
}