*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body
{
    background-color: rgb(38, 36, 36);
}

.s1
{
    width: 100%;
    height: 75px;
    background-color: #fff;
    display: flex; 
    justify-content: start; 
    align-items: center; 
    /* position: fixed;
    box-shadow: 0px 0px 5px 0px rgba(138, 136, 136, 0.46); */
}
.s1 ol li :hover
{
    color: #602e99;
    border-bottom: #602e99 3px solid;
}
.s1 img
{
    margin-left: 130px;
}
ol
{ 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 
ol li 
{ 
    display: inline-block; 
    padding: 10px 0px; 
    margin-left: 60px;
    font-size: 15px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 
ol li a
{ 
    font-family: PhonePeSans, sans-serif, Helvetica, Arial;
    text-decoration: none;  
    color: rgb(0, 0, 0); 
}
.s2
{
    width: 100%;
    height: 350px;
    background: url(i11.webp);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.s2 p
{
    font-family: PhonePeSans, sans-serif, Helvetica, Arial;
    color: #fff;
    font-size: 30px;
}
.s2 h1
{
    font-family: PhonePeSans, sans-serif, Helvetica, Arial;
    color: #ada9a9;
    font-size: 80px;
}

.s3
{
    width: 100%;
    height: 90px;
    background-color: #fff;
}

.s4
{
    width: 100%;
    height: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.s4 h1
{
    font-family: PhonePeSans, sans-serif, Helvetica, Arial;
    color: #602e99;
    font-size: 35px;
    margin-left: 140px;
}