@import url(phone.css);
@import url(tab.css);

*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body
{
    background-color: white;
}

.s1
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
}
.s1 .d1
{
    background-color: rgb(32, 28, 28);
    width: 50%;
    height: 90px;
    padding-top: 30px;
    padding-left: 20px;
}
.s1 .d2
{
    background-color: rgb(32, 28, 28);
    width: 50%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
}
.s1 .d2 button
{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    /* transition-duration: .5s;     */
}

.s1 .d2 .t1
{
    color: rgb(215, 84, 37);

}

.s1 .d2 .t2:hover
{
    color: rgb(215, 84, 37);

}

.s1 .d2 .t3:hover
{
    color: rgb(215, 84, 37);
    /* border-bottom: 2px solid white; */

}

.s1 .d2 .t4:hover
{
    color: rgb(215, 84, 37);

}

.s1 .d2 .t5:hover
{
    color: rgb(215, 84, 37);

}

.s1 .d2 i
{
    color: white;
    padding-left: 15px;
}
.s2 .bodybg
{
    background-color: black;
    width: 100%;
    height: 550px;
    background: url(banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 90%; */
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}
.s2 .bodybg h2
{
    font-size: 60px;
    padding-right: 770px;
    color: rgb(38, 35, 35);
}
.s2 .bodybg h1
{
    color: white;
    font-size: 80px;
    padding-right: 690px;
}
.s2 .bodybg p
{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
    padding-right: 610px;
    font-size:16px;
}
.s2 .btn button
{
    background-color: rgb(35, 31, 31);
    border: none;
    color: white;
    font-size: 15x;
    padding: 20px 30px;
    margin-right: 970px;
    margin-top: 30px;
    transition: .5s;
    border-radius: 5px;
}
.s2 .btn button:hover
{
    background-color: orangered;
    font-size: 16px;
}
.s3
{
    background-color: white;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.s3 .e1
{
    background-color: white;
    width: 50%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.s3 .e2
{
    background-color: white;
    width: 50%;
    height: 700px;
    
}
.s3 .e1 h2
{
    color: rgb(215, 84, 37);
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 220px;
    padding-bottom: 20px;
}
.s3 .e1 .p1
{
    color: rgb(117, 104, 104);
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 100px;
    padding-bottom: 10px;
}

.s3 .e1 .p2
{
    color: rgb(117, 104, 104);
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 130px;
    /* padding-bottom: 180px; */
    margin-bottom: 40px;
}
.s3 .btn1 button
{
    background-color: rgb(35, 31, 31);
    border: none;
    color: white;
    font-size: 15px;
    padding: 20px 40px;
    margin-right: 280px;
    margin-bottom: 20px;
    /* padding-bottom: 180px; */
    margin-bottom: 130px;
    border-radius: 5px;
    transition: .5s;

}
.s3 .btn1 button:hover
{
    background-color: orangered;
    font-size: 17px;
}
.s3 .e2
{
    background-color: white;
    width: 50%;
    height: 550px;
    background: url(about-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 70%;
    /* display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column; */
    margin-left: 100px;
    margin-top: 70px;
}
.s4
{
    background-color: white;
    width: 100%;
    height: 200px;
}
.s4 .h
{
    color: rgb(215, 84, 37);
    font-size: 40px;
    margin-left: 700px;
    margin-bottom: 30px;
}

.s4 .p1
{
    color: rgb(117, 104, 104);
    font-size: 18px;
    margin-left: 300px;
}
.s4 .p2
{
    color: rgb(117, 104, 104);
    font-size: 18px;
    margin-left: 500px;
}
.s5
{
    background-color: rgb(255, 255, 255);
    /* width: 100%;
    height: 1200px; */
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: repeat(3,300px);
    justify-content: center;
    gap: 30px;
}

.s5 .x10 button
{
    background-color: rgb(35, 31, 31);
    border: none;
    color: white;
    font-size: 15px;
    padding: 20px 40px;
    margin-left: 400px;
    border-radius: 5px;
    transition: .5s;
}
.s5 .x10 button:hover
{
    background-color: orangered;
    font-size: 17px;
}
.s5 .x1 img:hover
{
    background-color: rgba(243, 234, 234, 0.5);
    
}