/* Mobile Devices */
@media (max-width: 768px) {
    .s1 {
        height: auto;
        flex-direction: column;
    }

    .s1 .d1 img {
        width: 150px;
    }

    .s1 .d2 {
        padding-left: 0;
        text-align: center;
    }

    .s2 .bodybg h1 {
        font-size: 40px;
    }

    .s2 .bodybg h2 {
        font-size: 30px;
    }

    .s3 .e2 {
        height: 400px;
    }

    .s5 {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}